<div class="bg-black bg-[radial-gradient(circle_at_bottom_right,_var(--tw-gradient-stops))] from-emerald-800  to-black to-40% bg-fixed">
    <div class="bg-gray-950">
    <app-header></app-header>
    </div>
    <section class="mx-20 my-8">
        <div>
            <form class="w-auto mx-auto">   
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-300 sr-only">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-300 border border-gray-700 rounded-lg bg-transparent" placeholder="intenta buscar: informales,con licenciatura, horario..." required />
                    <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                </div>
            </form>
        </div>
        
        <hr class="my-6 border-gray-200 dark:border-gray-700 lg:my-8" />
        <div>
            <app-job description="wazaaa" title="job 1" [payment]="12" placeholder="https://picsum.photos/640/640?=r24"></app-job>
            <app-job description="wazaaa" title="job 2" [payment]="20" placeholder="https://picsum.photos/640/640?=r25"></app-job>
            <app-job description="wazaaa" title="job 3" [payment]="4000" placeholder="https://picsum.photos/640/640?=r26"></app-job>
            <app-job description="wazaaa" title="job 4" [payment]="1800" placeholder="https://picsum.photos/640/640?=r27"></app-job>
            <app-job description="wazaaa" title="job 5" [payment]="12" placeholder="https://picsum.photos/640/640?=r28"></app-job>
            <app-job description="wazaaa" title="job 5" [payment]="12" placeholder="https://picsum.photos/640/640?=r28"></app-job>
            <app-job description="wazaaa" title="job 5" [payment]="12" placeholder="https://picsum.photos/640/640?=r28"></app-job>
            <app-job description="wazaaa" title="job 5" [payment]="12" placeholder="https://picsum.photos/640/640?=r28"></app-job>
        </div>
    </section>
    <app-footer></app-footer>
</div>