<div class="bg-black font-poppins bg-[radial-gradient(circle_at_bottom_right,_var(--tw-gradient-stops))] from-emerald-800 to-black to-40% bg-fixed">
  <app-header class=""></app-header>
  <section class="mx-4 sm:mx-8 lg:mx-20 my-8">
      <div>
          <form class="w-auto mx-auto">
              <label for="default-search" class="mb-2 text-sm font-medium text-gray-300 sr-only">Search</label>
              <div class="relative">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                      <svg class="w-4 h-4 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                      </svg>
                  </div>
                  <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-300 border border-gray-700 rounded-lg bg-transparent" placeholder="intenta buscar: informales, con licenciatura, horario..." required />
                  <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs lg:text-sm px-2 lg:px-4 py-1 lg:py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
              </div>
          </form>
      </div>

      <hr class="my-6 border-gray-200 dark:border-gray-700 lg:my-8" />
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <app-job description="Desarrollador con experiencia en PHP y Laravel" title="Desarrollador Web" [payment]="12000" placeholder="assets/images/gitlab-logo-650.jpg"></app-job>
          <app-job description="Diseñador con habilidades en Photoshop e Illustrator" title="Diseñador Gráfico" [payment]="25000" placeholder="assets/images/gitlab-logo-650.jpg"></app-job>
          <app-job description="Administrador con experiencia en MySQL y PostgreSQL" title="Administrador de Bases de Datos" [payment]="15000" placeholder="assets/images/gitlab-logo-650.jpg"></app-job>
          <app-job description="Ingeniero con conocimientos en configuración de redes" title="Ingeniero de Redes" [payment]="18000" placeholder="assets/images/gitlab-logo-650.jpg"></app-job>
          <app-job description="Analista con experiencia en análisis de grandes volúmenes de datos" title="Analista de Datos" [payment]="18000" placeholder="assets/images/gitlab-logo-650.jpg"></app-job>
          <app-job description="Desarrollo de interfaces web" title="Desarrollador Frontend" [payment]="20000" placeholder="assets/images/gitlab-logo-650.jpg"></app-job>
          <app-job description="Análisis de datos de ventas" title="Analista de Datos" [payment]="30000" placeholder="assets/images/gitlab-logo-650.jpg"></app-job>
          <app-job description="Desarrollador con habilidades en HTML, CSS y JavaScript" title="Desarrollador Frontend" [payment]="15000" placeholder="assets/images/gitlab-logo-650.jpg"></app-job>
      </div>
  </section>
  <app-footer></app-footer>
</div>
