<!-- bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-slate-600 b bg-blend-multiply-->
<div class="bg-black">
    <div class="">
        <section
            class=" h-dvh w-auto  bg-center bg-no-repeat bg-[radial-gradient(circle_at_bottom_right,_var(--tw-gradient-stops))] lg:bg-[radial-gradient(circle_at_right_top,_var(--tw-gradient-stops))] from-emerald-800  to-transparent to-40%">
            <app-header></app-header>
            <div class="flex flex-col lg:h-auto lg:flex-row">
                <div class=" flex flex-col my-auto mx-6 lg:w-1/2">
                    <div class="flex flex-col lg:mx-12">
                        <h1 class="text-white font-extrabold mb-8 text-4xl lg:text-6xl">
                            cuntract
                        </h1>
                        <p class="text-white text-xl text-justify mb-4 lg:text-2xl">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ex iste commodi illo ratione
                            velit
                            provident labore quas totam. Ad quas veritatis maiores rem minus impedit est totam
                            doloremque
                            nesciunt.
                        </p>
                        <button
                            class=" w-40 mr-3 mt-3 mb-3 text-white bg-blue-600 hover:shadow-lg hover:ease-in ease-out shadow-none duration-150  hover:shadow-blue-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            mas informacion
                        </button>
                    </div>
                </div>
                <div class="flex flex-col  bg-none h-70">
                    <img src="assets/images/kisspng-vector-graphics-teamwork-illustration-flat-design-5c860277b57133.5463487515522863277432.png"
                        alt="" class="w-auto h-auto lg:mr-16">
                </div>
            </div>
        </section>
        <section class=" text-white mx-11 lg:mx-32 h-auto">
            <div class=" flex justify-between flex-col space-y-10 lg:flex-row lg:space-x-20 lg:space-y-0">
                <div
                    class="p-0.5 rounded-lg overflow-hidden justify-center bg-slate-neutral border border-gray-700 backdrop-blur-sm">
                    <div class="text-center">
                        <img src="assets/images/shop-solid (1).svg" alt="" class="w-14 h-14 mx-auto my-5">
                        <div class="mx-8 lg:mx-12 text-center">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dignissimos explicabo
                                accusantium nesciunt nemo omnis sequi quasi eius totam praesentium, inventore odit amet
                                ipsum dolores distinctio vero quis perspiciatis dicta.</p>
                        </div>
                        <a href="#buisinfo">
                            <button
                            class=" w-40 mt-6 mb-6 text-white bg-blue-600 shadow-lg hover:shadow-blue-500/50 hover:bg-gradient-to-br from-blue-700 via-blue-600 to-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            mas informacion
                        </button>
                        </a>
                    </div>
                </div>
                <div
                    class="p-0.5 rounded-lg overflow-hidden justify-center bg-slate-neutral border border-gray-700 backdrop-blur-sm">
                    <div class="text-center">
                        <img src="assets/images/comments-solid.svg" alt="" class="w-14 h-14 mx-auto my-5">
                        <div class="mx-12 text-center">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dignissimos explicabo
                                accusantium nesciunt nemo omnis sequi quasi eius totam praesentium, inventore odit amet
                                ipsum dolores distinctio vero quis perspiciatis dicta.</p>
                        </div>
                        <a href="#coninfo">
                            <button
                            class=" w-40 mt-6 mb-6 text-white bg-blue-600 shadow-lg hover:shadow-blue-500/50 hover:bg-gradient-to-br from-blue-700 via-blue-600 to-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            mas informacion
                        </button>
                        </a>
                    </div>
                </div>
                <div
                    class=" p-0.5 rounded-lg overflow-hidden justify-center bg-slate-neutral border border-gray-700 backdrop-blur-lg">
                    <div class="text-center">
                        <img src="assets/images/suitcase-solid (1).svg" alt="" class="w-14 h-14 mx-auto my-5">
                        <div class="mx-12 text-center">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dignissimos explicabo
                                accusantium nesciunt nemo omnis sequi quasi eius totam praesentium, inventore odit amet
                                ipsum dolores distinctio vero quis perspiciatis dicta.</p>
                        </div>
                        <a href="#trainfo">
                            <button
                            class=" w-40 mt-6 mb-6 text-white bg-blue-600 shadow-lg hover:shadow-blue-500/50 hover:bg-gradient-to-br from-blue-700 via-blue-600 to-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            mas informacion
                        </button>
                        </a>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="flex flex-col  mx-8 lg:mx-20">
        <hr class="my-6 border-gray-200 dark:border-gray-700 lg:my-8" />
        <div class="w-full h-auto lg:my-8 bg-transparent">
            <div
                class="w-full flex flex-col items-center border border-gray-200 rounded-lg shadow md:flex-row bg-transparent" id="coninfo">
                <img class="object-cover w-20 rounded-t-lg h-auto m-8 md:rounded-none md:rounded-s-lg"
                    src="assets/images/comments-solid.svg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-300">
                        Conversa</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vel molestiae sunt. Itaque tenetur numquam ea nobis libero neque ipsa beatae fugit perspiciatis assumenda provident, eveniet nisi et rem odit?.</p>
                </div>
            </div>
        </div>
        <div class="w-auto h-auto lg:my-8 bg-transparent">
            <div
                class="flex flex-col items-center border border-gray-200 rounded-lg shadow md:flex-row-reverse bg-transparent" id="trainfo">
                <img class="object-cover w-20 rounded-t-lg h-auto m-8 md:rounded-none md:rounded-s-lg"
                    src="assets/images/suitcase-solid (1).svg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-300 text-end">
                        busca trabajo
                    </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-end">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, corporis nihil dolorum labore ratione eligendi voluptatibus nobis id beatae mollitia libero, sapiente, autem fugiat a? Unde perspiciatis reiciendis corporis saepe.
                    </p>
                </div>
            </div>
        </div>
        <div class="w-auto h-auto lg:my-8 bg-transparent">
            <div
                class="flex flex-col items-center border border-gray-200 rounded-lg shadow md:flex-row bg-transparent" id="buisinfo">
                <img class="object-cover w-20 rounded-t-lg h-auto m-8 md:rounded-none md:rounded-s-lg"
                    src="assets/images/shop-solid (1).svg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-300">
                        expande a tu equipo con nuevos talentos</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor facere ad, harum perspiciatis consectetur expedita modi, odit nisi laudantium, accusantium dolores ab? Eveniet harum eius veniam molestiae ullam blanditiis. Facilis.</p>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>