<header class="flex flex-row justify-between bg-transparent w-auto h-20 items-center text-white mx-6 lg:mx-16">
    <img class="w-auto h-full" src="assets/images/cuntract2-removebg-preview.webp" alt="">
    <div>
        <nav>
            <ul class="flex flex-row space-x-4 lg:space-x-8 items-center">
                <li class=" font-semibold text-lg text-white">
                    <a routerLink="">inicio</a>
                </li>
                <li class=" font-semibold text-lg text-white">
                    <a routerLink="/about">sobre nosotros</a>
                </li>
                <li class=" font-semibold text-lg text-white">
                    <a routerLink="/list" routerLinkActive="active">buscar</a>
                </li>
                <li>
                    <a routerLink="/login" routerLinkActive="active"><img src="assets/images/user-solid.svg" class="h-5 w-5 my-auto" alt=""></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

