<div class=" flex flex-row rounded-lg shadow-md overflow-hidden h-36 w-auto my-4 backdrop-blur-lg hover:scale-105 duration-200">
    <img [src]='placeholder' alt="" class="w-64 h-auto object-cover pr-4">
    <div class="flex flex-col w-full text-gray-400">
        <h2 class="mb-2 text-white">{{title}}</h2>
        <p>
           descripcion: {{description}}
        </p>
        <div >
            <p>
            paga:     {{payment}}
            </p>
        </div>
        <div class="w-auto flex flex-row-reverse h-full">
            <button class="mr-3 mt-3 mb-3 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                check
            </button>  
        </div>
    </div>
</div>