<div class=" font-poppins bg-transparent">
  <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
    <div class="flex items-center max-w-5xl w-full border-gray-400 border-opacity-20 border-2 rounded-lg ">
      <form class="max-w-4xl md:m-auto w-full group" [formGroup]="validateForm" novalidate>
        <h3 class="text-white text-3xl font-extrabold my-16 text-center">
          Publicar puesto de trabajo
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
          <div>
            <label for="titulo" class="text-white">TITULO</label>
            <input formControlName="titulo" name="titulo" type="text" required
              class="bg-transparent backdrop-blur-md border border-gray-700 w-full text-sm text-gray-200 px-4 py-3.5 rounded-md outline-blue-600 focus:bg-transparent"
              placeholder="ej:programador" />
          </div>
          <div>
            <label for="pago" class="text-white">PAGO ESTIMADO (mensual)</label>
            <input formControlName="pago" name="pago" type="number" required
              class="bg-transparent backdrop-blur-md border border-gray-700 w-full text-sm text-gray-200 px-4 py-3.5 rounded-md outline-blue-600 focus:bg-transparent"
              placeholder="ej:15000" />
          </div>
        </div>
        <div class="p-4">
          <div class="mb-6">
            <label for="descripcion">DESCRIPCION</label>
            <textarea formControlName="descripcion" rows="6" placeholder="descripcion"
              class="bg-transparent w-full rounded py-3 px-[14px] text-white text-base border border-[f0f0f0] resize-none outline-none focus-visible:shadow-none focus:border-primary "></textarea>
          </div>
        </div>
        <!-- PARA LA SUBIDA DE ARCHIVOS(BETA)-->
        <div class="p-4">
          <label for="imagen" class="relative flex min-h-[200px] items-center justify-center rounded-md border border-dashed border-[#e0e0e0] p-12 text-center">
            <div *ngIf="!selectedFile" class="flex items-center justify-center w-full h-full">
              <input formControlName="imagen" id="imagen" class="absolute inset-0 opacity-0 cursor-pointer" type="file" accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected($event)"/>
              <button type="button" class="px-4 py-2 text-white bg-transparent border border-white rounded-md">Seleccionar archivo</button>
            </div>
            <div *ngIf="selectedFile">
              <img [src]="imagePreview" alt="ayoo">
            </div>
          </label>
        </div>
        <div>
          <button type="submit" [disabled]="validateForm.invalid" (click)="postOferta()"
            class="bg-green-600 w-full p-2 rounded-sm text-white disabled:opacity-70 disabled:cursor-not-allowed">
            Crear Oferta
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
