<div class="bg-black">
  <div class="bg-gray-950">
      <app-header></app-header>
  </div>
  <div class="text-center my-8">
      <h2 class="font-bold text-4xl text-white">
          Nuestro equipo
      </h2>
  </div>
  <div class="flex flex-col">
      <div class="flex flex-row my-16">
          <div class="w-96 border border-gray-200 rounded-lg shadow bg-gray-900 mx-auto ">
              <div class="h-1/2 w-full">
                  <img class="rounded-t-lg object-cover h-full w-full" src="\assets\images\IMG_20240720_232640.png" alt="" />
              </div>
              <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-white text center">Fuentes Salinas José Roberto</h5>
                  <p class="mb-3 font-normal text-gray-400 text-center">Desarrollador y líder de Equipo</p>
              </div>
          </div>
          <div class="w-96 border border-gray-200 rounded-lg shadow bg-gray-900 mx-auto">
              <div class="h-1/2 w-full">
                  <img class="rounded-t-lg object-cover h-full w-full"
                      src="/assets/images/kael.jpg" alt="" />
              </div>
              <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-white text center">Rocha  Baeza Aleksander
                  </h5>
                  <p class="mb-3 font-normal text-gray-400 text-center">Desarrollador de Front</p>
              </div>
          </div>
          <div class="w-96 border border-gray-200 rounded-lg shadow bg-gray-900 mx-auto ">
              <div class="h-1/2 w-full">
                  <img class="rounded-t-lg object-cover h-full w-full" src="/assets/images/angel.jpg"
                      alt="" />
              </div>
              <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-white text center">Herrera Pérez Angel Daniel</h5>
                  <p class="mb-3 font-normal text-gray-400 text-center">Diseñador y Desarrollador</p>
              </div>
          </div>
      </div>

  </div>

  <div>
      <app-footer></app-footer>
  </div>
</div>
