<div class="bg-black">
    <div class="bg-gray-950">
        <app-header></app-header>
    </div>
    <div class="text-center my-8">
        <h2 class="font-bold text-4xl text-white">
            nuestro equipo
        </h2>
    </div>
    <div class="flex flex-col">
        <div class="flex flex-row my-16">
            <div class="w-96 border border-gray-200 rounded-lg shadow bg-gray-900 mx-auto ">
                <div class="h-1/2 w-full">
                    <img class="rounded-t-lg object-cover h-full w-full" src="/assets/images/cool17.jpg" alt="" />
                </div>
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white text center">ROBERTO FUENTES
                        (purefootsoldier)</h5>
                    <p class="mb-3 font-normal text-gray-400 text-center">purecuck el project manager</p>
                </div>
            </div>
            <div class="w-96 border border-gray-200 rounded-lg shadow bg-gray-900 mx-auto">
                <div class="h-1/2 w-full">
                    <img class="rounded-t-lg object-cover h-full w-full"
                        src="/assets/images/sg-persona-3-reload-walkthrough-and-guide-1024x576.jpg" alt="" />
                </div>
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white text center">ROCHA BAEZA (kael)
                    </h5>
                    <p class="mb-3 font-normal text-gray-400 text-center">kael el tecnico en back-end</p>
                </div>
            </div>
            <div class="w-96 border border-gray-200 rounded-lg shadow bg-gray-900 mx-auto ">
                <div class="h-1/2 w-full">
                    <img class="rounded-t-lg object-cover h-full w-full" src="/assets/images/portada_oshi-no-ko-63.jpg"
                        alt="" />
                </div>
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white text center">ANGEL (angel)</h5>
                    <p class="mb-3 font-normal text-gray-400 text-center">angel el carreado(disenador)</p>
                </div>
            </div>
        </div>
        
    </div>

    <div>
        <app-footer></app-footer>
    </div>
</div>